<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB69TYgHHQAf7ee4Jt3q8I_dR4yVfzSDWM</string>
	<key>GCM_SENDER_ID</key>
	<string>242458655948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valiark.whoeats</string>
	<key>PROJECT_ID</key>
	<string>who-eats-12d33</string>
	<key>STORAGE_BUCKET</key>
	<string>who-eats-12d33.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242458655948:ios:e0c27d51969ce4d8bc9669</string>
</dict>
</plist>